::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: #474747;
}

::-webkit-scrollbar-thumb {
	background: #141414;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: black;
}
#nprogress .bar {
	height: 4px !important;
	z-index: 1110 !important;
}
